amqp==2.3.1
beautifulsoup4==4.6.0
-e git+https://github.com/celery/billiard.git@bf04adff8f8477cd7758c7f31325fbdeae7774e3#egg=billiard
bs4==0.0.1
celery==4.1.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
dj-database-url==0.5.0
Django==2.0.5
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-heroku==0.3.1
django-lrucache-backend==0.2.1
django-rest-framework==0.1.0
django-rq==1.1.0
djangorestframework==3.8.2
huey==1.9.1
idna==2.6
-e git+https://github.com/celery/kombu.git@c627c6d9d1f29ae0bcb03931d5f24001e60f72a9#egg=kombu
lru-cache==0.2.3
lru-dict==1.1.6
lxml==4.2.1
numpy==1.14.3
pandas==0.23.0
psycopg2==2.7.4
Pygments==2.2.0
python-dateutil==2.7.3
pytz==2018.4
redis==2.10.6
requests==2.18.4
rq==0.10.0
simplejson==3.15.0
six==1.11.0
SQLAlchemy==1.2.7
urllib3==1.22
vine==1.1.4
whitenoise==3.3.1