gunicorn==19.8.1
Django==1.11.13
pandas==0.20.1
requests==2.18.4
django_heroku==0.3.1
beautifulsoup4==4.6.0
lxml==4.2.1
Pygments==2.2.0
djangorestframework==3.8.2
dj-database-url==0.5.0
whitenoise==3.3.1
amqp==1.4.9
anyjson==0.3.3
-e git+https://github.com/celery/billiard.git@bf04adff8f8477cd7758c7f31325fbdeae7774e3#egg=billiard
celery==4.0.2
django-jsonfield==1.0.1
-e git+https://github.com/celery/kombu.git@c627c6d9d1f29ae0bcb03931d5f24001e60f72a9#egg=kombu
pytz==2018.4
vine==1.1.4
django-celery-beat==1.1.1
django-celery-results==1.0.1