{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>GDPR Hero</title>
<link rel="icon" href="{% static 'favicon.png' %}" type="{% static 'css/animateNewHome.css' %}" sizes="16x16">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="GDPR Hero">
<meta name="keywords" content="GDPR Hero Compliance Mobile SDK App Regulation EU">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Open%20Sans:300,400,500,600,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/animateNewHome.css' %}">
<!-- Resource style -->
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}"> -->
<link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">
<!-- Resource style -->
<link href="{% static 'css/styleNewHome.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div class="wrapper">
  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container"> 
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand page-scroll" href="#main"><img src="{% static 'images/logov2.png' %}" width="160" height="60" /></a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a class="page-scroll" href="#main">Product</a></li>
            <li><a class="page-scroll" href="#features">Features</a></li>
            <!-- <li><a class="page-scroll" href="#review-section">Reviews</a></li> -->
            <li><a class="page-scroll" href="#pricing">Pricing</a></li>
            <!-- <li><a class="page-scroll" href="#contact">Contact</a></li> -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container-fluid -->
  
  <div class="main app form" id="main"><!-- Main Section-->
    <div class="hero-section">


      <div class="container nopadding">
        <div class="col-md-5"> <img class="img-responsive wow fadeInUp" data-wow-delay="0.1s" src="{% static 'images/iPhoneWithHerologos.png' %}" alt="App" /> </div>
        <div class="col-md-7">
          <div class="hero-content">
            <h1 class="wow fadeInUp" data-wow-delay="0.1s">GDPR Hero - Customer Data Privacy By Design</h1>
            <p class="wow fadeInUp" data-wow-delay="0.2s">The Wild West days of customer data are rapidly coming to an end. Hero gives you total control over your customer’s data so you can continue reaping the benefits of data, in a private and secure manner.</p>
            <div class="sub-form wow fadeInUp" data-wow-delay="0.3s">
              <form class="subscribe-form wow zoomIn" action="/" method="post"/>          
              <input class="mail" type="email" name="inputEmailToSpeakWithExpert" placeholder="Enter Email" autocomplete="off" id="subemail">
              {% csrf_token %}   
              <input class="submit-button" type="submit" value="Get Started" name="send" id="subsubmit">
            </form>
            <small style="color: black">{{ properEmail }}</small>
              <!-- subscribe message -->
        <div id="mesaj"></div>
        <!-- subscribe message --> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Client Section -->
    <div class="client-section">
      <div class="container text-center">
        <div class="clients owl-carousel owl-theme">
          <!-- <div class="single"> <img src="{% static 'images/client1.png' %}" alt="Image" /> </div>
          <div class="single"> <img src="{% static 'images/client2.png' %}" alt="Image" /> </div>
          <div class="single"> <img src="{% static 'images/client3.png' %}" alt="Image" /> </div>
          <div class="single"> <img src="{% static 'images/client1.png' %}" alt="Image" /> </div>
          <div class="single"> <img src="{% static 'images/client2.png' %}" alt="Image" /> </div>
          <div class="single"> <img src="{% static 'images/client3.png' %}" alt="Image" /> </div> -->
        </div>
      </div>
    </div>
    <div class="app-features text-center" id="features">
      <div class="container">
        <h1 class="wow fadeInDown" data-wow-delay="0.1s">The GDPR Hero Solution:</h1>
        <p class="wow fadeInDown" data-wow-delay="0.2s">Maintain a data infrastructure guided by the principles of privacy by design. <br class="hidden-xs"> 
          <!-- effortlessly passing it to each data partner to comply.  -->
          </p>

          <div class="col-md-4 features-left">
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="icon ion-md-cloudy"></i> </div>
            <div class="feature-single">
              <h1>Allow opt in/out of data collection services</h1>
              <!-- <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p> -->
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
            <div class="pitch-icon"> <i class="icon ion-md-finger-print"></i> </div>
            <div class="feature-single">
              <h1>Custom Secure Data Flow</h1>
              <!-- <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p> -->
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
            <div class="pitch-icon"> <i class="icon ion-md-phone-portrait"></i> </div>
            <div class="feature-single">
              <h1>Securely integrate with 3rd party services</h1>
              <!-- <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p> -->
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-delay="0.5s"> <img class="img-responsive" src="{% static 'images/logoforDesign.png' %}" alt="App" /> </div>
        <div class="col-md-4 features-left">
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.6s">
            <div class="pitch-icon"> <i class="icon ion-md-funnel"></i> </div>
            <div class="feature-single">
              <h1>Anonymize user data used by third-party services</h1>
              <!-- <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p> -->
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.7s">
            <div class="pitch-icon"> <i class="icon ion-md-lock"></i> </div>
            <div class="feature-single">
              <h1>Maintain control over your users PII</h1>
              <!-- <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p> -->
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
            <div class="pitch-icon"> <i class="icon ion-md-trending-up"></i> </div>
            <div class="feature-single">
              <h1>Comply with GDPR, COPPA, and other data laws</h1>
              <!-- <p> Some lorem contetnt to fill the gap and make it look clean and organized. </p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
 
 <!-- Old section with icons -->
  <!--       <div class="col-md-4 features-left">
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.2s">
            <div class="icon"> <img src="{% static 'images/appsflyer-default-home.svg' %}" alt="Image" /> </div>
            <div class="feature-single">
              <h1>AppsFlyer</h1>
              <p> Attribution </p>
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.3s">
            <div class="icon"> <img src="{% static 'images/amplitude-default-home.svg' %}" alt="Image" /> </div>
            <div class="feature-single">
              <h1>Amplitude</h1>
              <p> Analytics </p>
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.4s">
            <div class="icon"> <img src="{% static 'images/braze-default-home.svg' %}" alt="Image" /> </div>
            <div class="feature-single">
              <h1>Braze</h1>
              <p> Re-Engagement </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 wow fadeInDown" data-wow-delay="0.5s"> <img class="img-responsive" src="{% static 'images/iPhone-app.png' %}" alt="App" /> </div>
        <div class="col-md-4 features-left">
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.6s">
            <div class="icon"> <img src="{% static 'images/mixpanel-default-home.svg' %}" alt="Image" /> </div>
            <div class="feature-single">
              <h1>Mixpanel</h1>
              <p> Analytics </p>
           
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.7s">
           <div class="icon"> <img src="{% static 'images/integration-tile_google-analytics-home.svg' %}" alt="Image" /> </div>
            <div class="feature-single">
              <h1>Google Analytics</h1>
              <p> Analytics </p>
            </div>
          </div>
          <div class="col-md-12 wow fadeInDown" data-wow-delay="0.8s">
            <div class="icon"> <img src="{% static 'images/optimizely-default-home.svg' %}" alt="Image" /> </div>
            <div class="feature-single">
              <h1>Optimizely</h1>
              <p> A/B Testing </p>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="split-features2">
      <div class="col-md-6 nopadding">
        <div class="split-image">
          <h1 class="wow fadeInUp">
<link href='//fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css' id="textanon">
<svg xmlns="http://www.w3.org/2000/svg" id="logo" viewBox="0 0 3000 800" width="100%" height="100%">
  <path fill="none" d="M50 5.2S520.6.5"/>
</svg>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js'></script>
   </div>
 </h1>
      </div>
      <div class="col-md-6 nopadding">
        <div class="split-content">
            <h1 class="wow fadeInUp">
Your customer data is important, maintain control over who has access and how it is accessed.
</h1>
       <!--    <p class="wow fadeInUp"> GDPR Hero was built by mobile sass insiders who identified the common need for automated privacy for app owners who rely on multiple third-party solutions to acquire, engage and retain their users, but have no easy way to manage the cumbersome requirements.</p>
          <ul class="wow fadeInUp">
            <li>Easily turn on (or off) PII information from being passed back to vendors.</li>
            <li>Ensure your system is completely free from legal blowback.</li>
            <li>Speak with a Silicon Valley experts.</li>
          </ul> -->
        </div>
      </div>
    </div>


    <div class="split-features">
      <div class="col-md-6 nopadding">
        <div class="split-image"> <img class="img-responsive wow fadeIn" src="{% static 'images/Insurance2.png' %}" alt="Image" /> </div>
      </div>
      <div class="col-md-6 nopadding">
        <div class="split-content">
          <h1 class="wow fadeInUp">The Problem:</h1>
          <p class="wow fadeInUp">Modern apps collect vast amounts of user information to build new products, customize experiences and use third-party data services, but have no easy way to maintain privacy and control over this data when in a world where the average app uses 15.6 3rd party data service SDKs.</p>
          <ul class="wow fadeInUp">
            <li>Possible millions of dollars in liability. </li>
            <li>Risk of passing Personal Identifiable Information to untrustworthy third party vendors.</li>
            <li>Too many integrations to manage.</li>
          </ul>
        </div>
      </div>
    </div>

    
    
<!--     
     <div class="split-features2">
      
      <div class="col-md-6 nopadding">
        <div class="split-content second">
        
        </div>
      </div>

      <div class="col-md-6 nopadding">
        <div class="split-content">

        <div class="split-image">   <link href='//fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
<svg xmlns="http://www.w3.org/2000/svg" id="logo" viewBox="0 0 1252 800" width="100%" height="100%">
  <path fill="none" d="M531.3 11.2S520.6.5"/>
</svg>

<link href='//fonts.googleapis.com/css?family=Dosis:400,600' rel='stylesheet' type='text/css'>
<svg xmlns="http://www.w3.org/2000/svg" id="logo" viewBox="0 0 1252 800" width="100%" height="100%">
  <path fill="none" d="M531.3 11.2S520.6.5"/>
</svg>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js'></script>
</div>
   </div>
      </div>
    </div> -->
    
    
    
    <div class="pitch text-center">
      <div class="container">
        <div class="pitch-intro">
          <h1 class="wow fadeInDown" data-wow-delay="0.2s">GDPR non-compliance is costly, up to €20 million or 4% of global annual revenue</h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s"> Protect your business today with one SDK from GDPR Hero.</p>
        </div>
        <div class="col-md-12">
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="icon ion-md-done-all"></i> </div>
            <div class="pitch-content">
              <h1>Reliable</h1>
              <p> Full access to your data and dependable audits to make sure every data point is safe. </p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="icon ion-md-fastforward"></i> </div>
            <div class="pitch-content">
              <h1>Fastest Integration In Town</h1>
              <p> One line of copy & paste code per vendor.</p>
            </div>
          </div>
          <div class="col-md-4 wow fadeInDown" data-wow-delay="0.2s">
            <div class="pitch-icon"> <i class="icon ion-md-git-network"></i> </div>
            <div class="pitch-content">
              <h1>Open Source</h1>
              <p> Transparency is essentially to ensure both you and your customers' data is safe. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="feature-sub">
      <div class="container">
        <div class="sub-inner">
          <h1 class="wow fadeInUp">Knowledge is power, and, in the case of user data, a big liability…</h1>
          <a href="#" class="btn btn-action wow fadeInUp">Speak To A Product Specialist</a> </div>
      </div>
    </div>
<!--     <div id="review-section" class="review-section">
      <div class="container">
        <div class="col-md-10 col-md-offset-1">
          <div class="reviews owl-carousel owl-theme">
            <div class="review-single"><img class="img-circle" src="{% static 'images/customer1.png' %}" alt="Client Testimonoal" />
              <div class="review-text wow fadeInUp" data-wow-delay="0.2s">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>Johnathan Doe</h3>
                <h3>Marketing Head Matrix media</h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="{% static 'images/customer2.png' %}" alt="Client Testimonoal" />
              <div class="review-text">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>Oidila Matik</h3>
                <h3>President Lexo Inc</h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="{% static 'images/customer3.png' %}" alt="Client Testimonoal" />
              <div class="review-text">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>- Alex Dattilo</h3>
                <h3>CEO Optima Inc</h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="{% static 'images/customer4.png' %}" alt="Client Testimonoal" />
              <div class="review-text">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>- Robert Hammer</h3>
                <h3>design head Omega Corp</h3>
              </div>
            </div>
            <div class="review-single"><img class="img-circle" src="{% static 'images/customer5.png' %}" alt="Client Testimonoal" />
              <div class="review-text">
                <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst. Vivamus in accumsan ex</p>
                <h3>- Rita Valentine</h3>
                <h3>CEO Behena digital</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div id="pricing" class="pricing-section text-center">
      <div class="container">
        <div class="col-md-12 col-sm-12 nopadding">
          <div class="pricing-intro">
            <h1 class="wow fadeInUp" data-wow-delay="0s">Pricing Plans</h1>
            <!-- <p class="wow fadeInUp" data-wow-delay="0.2s"> It's cheaper than a data breach. </p> -->
          </div>
          <div class="col-sm-4">
            <div class="table-left wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"> <i class="ion-ios-paperplane-outline"></i> </div>
              <div class="pricing-details">
                <h2>Startup</h2>
                <span>Up to 25,000 MAU</span>
                <ul>
                  <li>As many integrations as you need.</li>
                  <li>Postback the data to your own endpoint.</li>
                  <li>Friendly and knowledgable email support.</li>
                </ul>
                <button class="btn btn-primary btn-action btn-fill">Get Plan</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="table-right table-center wow fadeInUp" data-wow-delay="0.6s">
              <div class="icon"> <i class="ion-ios-analytics-outline"></i> </div>
              <div class="pricing-details">
                <h2>Business</h2>
                <span>Over 25,000 MAU-Call Us</span>
              
                <ul>
                  <li>Custom solutions for your internal BI.</li>
                  <li>Onboarding new, existing and custom vendors.</li>
                  <li>As many integrations as you need.</li>
                  <li>Postback the data to your own endpoint.</li>
                  <li>Friendly and knowledgable phone and email support.</li>
                </ul>
                <button class="btn btn-primary btn-action btn-fill">Buy Now</button>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="table-right wow fadeInUp" data-wow-delay="0.6s">
              <div class="icon"> <i class="ion-ios-color-wand-outline"></i> </div>
              <div class="pricing-details">
                <h2>Enterprise</h2>
                <span>Custom Plan</span>
                <ul>
                  <li style="font-weight: bold;">Contact Sales  </li>
                  <li><br></li>
                  <li><br></li>
               <!--    <li>GDPR specialist as your point of contact.</li>
                  <li>Custom solutions for your internal BI.</li>
                  <li>As many integrations as you need.</li>
                  <li>Postbacks the data to your own endpoint.</li>
                  <li>Friendly and knowledgable phone and email support.</li>
 -->                </ul>
                <button class="btn btn-primary btn-action btn-fill">Buy Now</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Subscribe Form -->
    <div class="cta-sub no-color">
      <div class="container">  

        <div class="cta-inner">
          <h1 class="wow fadeInUp" data-wow-delay="0s">Speak To a Product Specialist</h1>
          <p class="wow fadeInUp" data-wow-delay="0.2s"> Enter your email address <br class="hidden-xs"> and yes,
             we are GDPR Compliant! </p>
          <div class="form wow fadeInUp" data-wow-delay="0.3s">
            <form class="subscribe-form center-form wow zoomIn" action="/" method="post">
                            {% csrf_token %}   
              <input class="mail" type="email" name="inputEmailToSpeakWithExpert" placeholder="Enter Email" autocomplete="off" id="subemail">
              <input class="submit-button" type="submit" value="Get Started" name="send" id="subsubmit">

            </form>
            <small style="color: white">{{ properEmail }}</small>
              <!-- subscribe message -->
        <div id="mesaj"></div>
        <!-- subscribe message --> 
          </div>
        </div>
      </div>
    </div>
    
    <!-- Footer Section -->
    <div class="footer">
      <div class="container">
        <div class="col-md-7"> 
          <!-- <img src="{% static 'images/logo.png' %}" width="80" height="30" alt="Image" /> -->
          <!-- <p> GDPR is hard but being a hero is easy. </p> -->
          <div class="footer-text">
            <p> Copyright © 2018 GDPRHero. All Rights Reserved.</p>
          </div>
        </div>
        <div class="col-md-5">
            <h1>Contact Us</h1>
            <p> Enter your email to get started. </p>
            <!-- <a href="mailto:contact@gdprhero.io">contact@gdprhero.io</a> </div> -->
        </div>
      </div>
    </div>
    
    <!-- Scroll To Top --> 
    
    <!-- <a id="back-top" class="back-to-top page-scroll" href="#main"> <i class="icon ion-md-heart"></i> </a>  -->
    
    <!-- Scroll To Top Ends--> 
    
  </div>
  <!-- Main Section --> 
</div>
<!-- Wrapper--> 

<!-- Jquery and Js Plugins --> 
<script type="text/javascript" src="{% static 'js/jquery-2.1.1.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/plugins.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/menu.js' %}"></script> 
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/jquery.subscribe.js' %}"></script> 
</body>
</html>
