
{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/signup.css' %}"> -->

<!-- <img src="http://image005.flaticon.com/1/svg/74/74229.svg" alt="user icon" class="logo"> -->
<img src="{% static 'img/GDPRLogo.jpg' %}" alt="GDPRHero"  class="logo"/>
    <div class="cd-tabs">
      <nav>
        <ul class="cd-tabs-navigation">
          <!-- <li><a href="#" data-content="login" class="selected">login</a></li> -->
          <!-- <li><a href="#" data-content="signup">signup</a></li> -->
        </ul>
      </nav>
      <ul class="cd-tabs-content">
        <!-- <li data-content="login" class="selected"> -->
            <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text|safe  }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
        </li>
      </ul>
    </div>
  <script async defer src="{% static 'js/signup.js' %}"></script>
{% endblock %}